HOSTNAME=your-hostname
SERVER_USER=your-user
SERVER_IP=192.168.x.x
PROJECT_ROOT=/home/your-user/homelab
SMOKE_TEST_PORT=8080
NODE_EXPORTER_PORT=9100
NODE_EXPORTER_LAN_HOST=your-node-exporter-lan-host
PROMETHEUS_PORT=9090
PROMETHEUS_RETENTION=15d
PROMETHEUS_LAN_HOST=your-prometheus-lan-host
